# Virtual environment
myenv/

# Python cache
*.pyc
__pycache__/

# Django static and media files
staticfiles/
media/

# SQLite database
*.sqlite3

# Node.js
node_modules/
front-end/node_modules/

# Environment variables
.env