{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tegy Hagz - Home</title>
    <link rel="stylesheet" href="{% static 'css/EntryPage.css' %}">
</head>
<body>
    <div class="container">
        <div class="hero">
            <img src="{% static 'images/court-illustration.png' %}" alt="Football Court Illustration" class="hero-image">
            <div class="hero-text">
                <h1>Tegy Hagz</h1>
                <p>Your Football Court Connection</p>
                <div class="buttons">
                    <a href="{% url 'login_signup_page' %}?user_type=player" class="btn">Player</a>
                    <a href="{% url 'login_signup_page' %}?user_type=admin" class="btn">Admin</a>
                    <a href="{% url 'court_owner_dashboard' %}" class="btn">Court Owner</a>
                    {% comment %} <button onclick="window.location.href='{% url 'chart' %}'">View Chart</button> {% endcomment %}
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
