{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="{% static 'css/LoginPage.css' %}">
</head>
<body>
    <div class="form-container">
        <form method="post">
            {% csrf_token %}
            <input type="text" name="username" placeholder="USERNAME" class="input-field" value="{{ form.username.value|default_if_none:'' }}">
            <input type="password" name="password" placeholder="PASSWORD" class="input-field" value="{{ form.password.value|default_if_none:'' }}">
            <button type="submit" class="login-button">SIGN IN</button>
            <a href="/accounts/google/login/?next=/main" class="google-login-button">Login with Google</a>
        </form>
    </div>
</body>
</html>