{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Page</title>
    <link rel="stylesheet" href="{% static 'css/Notification.css' %}">
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.6.3/firebase-messaging.js"></script>
</head>

<body>
    <nav class="navbar">
        <div class="logo">
            <a href="{% url 'home_page' %}">Tegy Hagz</a>
        </div>
        <div class="nav-links">
            <a href="{% url 'main_page' %}">Home</a>
            <a href="{% url 'book_page' %}">Booking</a>
            <a href="{% url 'notification' %}">Notification</a>
            <a href="{% url 'user_profile' %}">Profile</a>
            {% if user.is_authenticated %}
                {% if user.is_court_owner %}
                    <a href="{% url 'court_owner_dashboard' %}">Owner Page</a>
                {% elif user.is_admin %}
                    <a href="{% url 'admin_dashboard' %}">Admin Page</a>
                {% endif %}
            {% endif %}
        </div>
    </nav>
    <div class="notification-container">
        <h1>Notification Page</h1>
        <p>Click inspect to find the key in the console logs.</p>
    </div>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyD-Qvpmlec1yGj3Om2fumMRDWrWT_hEZSY",
            authDomain: "fir-5a3d4.firebaseapp.com",
            projectId: "fir-5a3d4",
            storageBucket: "fir-5a3d4.firebasestorage.app",
            messagingSenderId: "1096296766719",
            appId: "1:1096296766719:web:dea231a92cf3237c6fc0ca",
            measurementId: "G-VZNEYLKJ7H"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        const messaging = firebase.messaging();

        messaging.getToken({ vapidKey: 'BLwhk2jx_hizLp5re0Ko8xzeUbwfkDvQaDfWVTNxjgWnmGqKkWInvFJFYLRNCxOWfAJ1s-xjDxxC6K18Gg0liBE' }).then((currentToken) => {
            if (currentToken) {
                console.log(currentToken);
            } else {
                console.log('No registration token available. Request permission to generate one.');
            }
        }).catch((err) => {
            console.log('An error occurred while retrieving token. ', err);
        });

        messaging.requestPermission()
            .then(function () {
                console.log("Notification permission granted.");
                return messaging.getToken();
            })
            .catch(function (err) {
                console.log("Unable to get permission to notify.", err);
            });

        messaging.onMessage((payload) => {
            console.log('Message received. ', payload);
        });
    </script>
</body>

</html>