{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Court Owner Dashboard</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'court_owner/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/view_court.css' %}">
  <link rel="stylesheet" href="{% static 'css/owner.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="logo">
        <a href="{% url 'home_page' %}">Tegy Hagz</a>
    </div>
    <div class="nav-links">
        <a href="{% url 'main_page' %}">Home</a>
        <a href="{% url 'book_page' %}">Booking</a>
        <a href="{% url 'notification' %}">Notification</a>
        <a href="{% url 'user_profile' %}">Profile</a>
        {% if user.is_authenticated %}
            {% if user.is_court_owner %}
                <a href="{% url 'court_owner_dashboard' %}">Owner Page</a>
            {% elif user.is_admin %}
                <a href="{% url 'admin_dashboard' %}">Admin Page</a>
            {% endif %}
        {% endif %}
    </div>
</nav>
  <div class="owner-container">
    <h1>Court Owner Dashboard</h1>
    <section class="add-court">
      <h2>Add New Court</h2>
      <form method="post" action="{% url 'add_court' %}">
        {% csrf_token %}
        <label for="courtName">Court Name:</label>
        <input type="text" id="courtName" name="courtName" placeholder="Enter court name" required>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" placeholder="Enter court location" required>
        <label for="price">Price Per Hour:</label>
        <input type="number" id="price" name="price" placeholder="Enter price per hour" required>
        <label for="city">City:</label>
        <input type="text" id="city" name="city" placeholder="Enter city" required>
        <button type="submit">Add Court</button>
      </form>    
    </section>
    <div class="action-buttons">
    <a href="{% url 'view_courts' %}" class="profile-btn">View Your Courts</a>
    <a href="{% url 'user_profile' %}" class="profile-btn">Go to Profile</a>
    <a href="{% url 'owner_profits' %}" class="profile-btn">View Profits</a>
    </div>
</div>
<script src="{% static 'court_owner/owner.js' %}"></script>
</body>
</html>