/* General body styles */
html, body * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: linear-gradient(rgba(246, 247, 249, 0.8), rgba(246, 247, 249, 0.8)),
        url('https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form container */
.form-container {
    background: linear-gradient(
        rgba(35, 43, 85, 0.75),
        rgba(35, 43, 85, 0.95)
    ),
    url('https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
}

/* Input fields */
.input-field {
    width: 100%;
    padding: 15px;
    margin: 15px 0;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 1rem;
    transition: background 0.5s ease;
}

.input-field:focus {
    background: rgba(255, 255, 255, 0.3);
    outline: none;
}

.input-field::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

/* Signup button */
.signup-button {
    width: 100%;
    padding: 15px;
    background-color: rgba(16, 89, 255, 1);
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 10px; /* Add margin to separate buttons */
}

.signup-button:hover {
    background-color: #0f4fe6;
}

/* Google login button */
.google-login-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #db4437;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.5s ease;
    margin-top: 10px; /* Add margin to separate buttons */
}

.google-login-button:hover {
    background-color: #c33d2e;
}

/* Messages */
.messages {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    list-style-type: none;
    color: #333;
}

.messages .success {
    color: green;
}

.messages .error {
    color: red;
}